body {
  padding: 10px;
  font-family: sans-serif;
}

.flex-container::after {
    content: "";
    flex-grow: 1;
    max-width: 450px;
    min-width: 350px;
    margin-right: 10px;        /* to match the other flex items */
}

.power{
    font-size: 24px;
    background: white;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}

@keyframes animateBorder {
  to {
    outline-color: #EA3556;
    box-shadow: 0 0 0 4px yellow;
  }
}

.big-power{
    font-size: 28px;
    background: white;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}
.winner-power{
    border: 0;
    outline: 5px dashed yellow;
    box-shadow: 0 0 0 4px #EA3556;
    animation: 0.75s animateBorder infinite;
}

.card-title{
    font-size: 22px;
}

.splitter{
    margin-left: 4px;
    margin-right: 4px;
    border: 2px dashed rebeccapurple;
}

.icon{
    width: 24px;
    height: 24px;
}

